@{
    ViewData["Title"] = "Home Page";
}


<section>
    <div class="row">
        <div class="col-md-3">
            <div class=" card rounded-5">
               <div class="card-body">

               </div>
            </div>
        </div>
    </div>
</section>